body {
    background: #FFE25E;
}

button {
    border-radius: 30px;
    width: 65px;
    height: 26px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-align: center;
}


#playButton {
    color: #FFFFFF;
    background-color: black;
}

#menuButtons {
    position: absolute;
    width: 453px;
    height: 1024px;
    left: 987px;
    top: -1px;
    background: #1E91E8;
}

.menuButton {
    width: 120px;
    height: 50px;
    left: 1020px;
    top: 190px;
    background: rgba(57, 21, 176, 0.6);
    color: #FFFFFF;
}