html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #0FBFFF;
    display: flex;
    flex-direction: row;
    height: 50%;
}


h1 {
    font-size: 4vw;
    font-weight: bold;
    color: #3915B0;
    margin-top: -40px;
    margin-bottom: -30px;
}

h4 {
    color: #3915B0;
    font-size: 2.5vw;
}



#options input {
    border: #1E91E8 2.5px solid;
    border-radius: 8px;
    background-color: white;
    width: 15vw;
    height: 40px;
    margin-top: 10px;
}

#left {
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}

#rigth {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#link {
    color: #1E91E8;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#link a {
    color: #1E91E8;
    margin-top: -15px;
}

#options {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#submitButton {
    border-radius: 20px;
    color: white;
    background-color: #1E91E8;
    width: 80px;
    height: 40px;
    margin: auto;
    margin-top: 10px;
    vertical-align: middle;
    border: 0px;
    width: 200px;
    height: 70px;
    font-size: 25px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
}

#submitButton:hover {
    background-color: #0572c5;
}

::-webkit-input-placeholder {
    color: #1E91E8;
    font-size: 18px;
    text-align: center;
 }
 
 :-moz-placeholder {
    color: #1E91E8;
    font-size: 18px;
    text-align: center;
 }
 
 ::-moz-placeholder {
    color: #1E91E8;  
    font-size: 18px;
    text-align: center;
 }
 
 :-ms-input-placeholder {  
    color: #1E91E8;  
    font-size: 18px;
    text-align: center;
 }