html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background: #FFC173;
}

button {
    border-radius: 30px;
    width: 200px;
    height: 26px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
}

.questionBox {
    text-align: center;
    width: 700px;
    height: 150px;
    background: #FFFFFF;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: x-large;
}

.questionInputRadio {
    display: none;
}

.questionOption {
    background: white;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    float: left;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    font-size: large;
}

#options {
    width: fit-content;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    border: 1px solid #FFC173;
    margin-top: 70px;
    margin-bottom: 70px;
    display: table;
}

#firstOption {
    border-bottom: 20px solid #0FBFFF;
    color: #0FBFFF;
    transition: 0.5s;
}

#firstOption:hover {
    border: 4px solid #0FBFFF;
}

#SecondOption {
    border-bottom: 20px solid #FF960F;
    color: #FF960F;
    transition: 0.5s;
}

#SecondOption:hover {
    border: 4px solid #FF960F;
}

#thirdOption {
    border-bottom: 20px solid #1E91E8;
    color: #1E91E8;
    transition: 0.5s;
}

#thirdOption:hover {
    border: 4px solid #1E91E8;
}

#fourthOption {
    border-bottom: 20px solid #3915B0;
    color: #3915B0;
    transition: 0.5s;
}

#fourthOption:hover {
    border: 4px solid #3915B0;
}

#submitButton {
    border-radius: 20px;
    color: white;
    background-color: #3915B0;
    width: 100px;
    height: 50px;
    margin: auto;
    margin-top: 10px;
    vertical-align: middle;
    border: 0px;
    width: 200px;
    height: 70px;
    font-size: large;
    transition: 0.5s;
}

#submitButton:hover {
    background-color: #511ff8;
}

#submitButtonDiv {
    text-align: center;
    margin-right: 0%;
}

.selectedOption {
    border: 10px #0E9523 ;
}